<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

        <title>Login</title>
    </head>
<body>
    <div class="container justify-content-center w-300 p-3" style="background-color: #e4d9d9; margin-top: 5em;">
        <div class="container justify-content-center w-30 p-2">
            <h1 class="display-5">Something went wrong! </h1>
        </div>
        <h2>It seems like the page you are looking for does not exist!! :( Double check the link.</h2>
        <a th:href="@{/home}">Go Home</a>
    </div>
</body>

</html>